@import "~bulma/sass/utilities/_all.sass"
@import "~bulma/sass/base/_all.sass"
@import "~bulma/sass/grid/_all.sass"
@import "~bulma/sass/elements/container.sass"
@import "~bulma/sass/layout/_all.sass"

// bulma overrides
$speed: 0.4s
$easing: cubic-bezier(0.75, 0.29, 0.29, 1.35)

// Olipear colours
$bg-light: #F8F8F8
$bg-dark: #0B2027
$primary: #4CB497
$secondary: #FA9F42
$text: #031926

$interact: #4E5166
$hover: #333442
$disabled: #B8B9C2

//olipear styles


// ---- base ----
html
  background-color: $bg-light
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  min-width: 300px
  overflow-x: hidden
  overflow-y: scroll
  text-rendering: optimizeLegibility
  text-size-adjust: 100%

body
  color: $text
  font-size: 1rem
  font-weight: 300
  line-height: 1.5rem

hr
  background-color: $bg-dark
  border: none
  display: block
  height: 1px
  margin: 1rem 0 2rem 0

img
  height: auto
  max-width: 100%


//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;0,800;1,300;1,400&display=swap')

body
  font-family: 'Montserrat', sans-serif

h1
  font-weight: 200
  font-size: 2rem
  line-height: 3.5rem
h2
  font-weight: 800
  font-size: 1.7rem
  line-height: 3rem  

h3, h4
  font-size: 1.3rem
  line-height: 2rem
h3
  font-weight: 700
h4
  font-weight: 400

h5
  font-size: 1rem
  font-weight: 700
  margin-bottom: 0.2rem

// interactions
a
  color: $interact
  cursor: pointer
  text-decoration: none
  strong
    color: currentColor
  &:hover
    color: $hover

.icon 
  color: $interact
  svg
    transform: scale(1)
    transition: transform 0.1s $easing
  &:hover:not(.disabled)
    color: $hover
    svg
      transform: scale(1.1)
  &:disabled, &.disabled
    cursor: default
    color: $disabled

svg
  fill: currentcolor

.scroll-btn
  height: 24px
  width: 24px
  overflow: hidden
  background: $interact
  border-radius: 50%
  cursor: pointer
  position: relative
  span
    height: 8px
    width: 8px
    border: 3px solid $bg-light
    border-right: 0
    border-top: 0
    margin: auto
    position: absolute
    left: 0
    right: 0
    bottom: 0
  &:hover
    background: $hover
  &.up span
    transform: rotate(135deg)
    top: 3px
  &.down span
    top: -3px
    transform: rotate(-45deg)
  &.big
    height: 36px
    width: 36px
    span
      height: 14px
      width: 14px

// ---- layout -----
section, .section
  padding: 1rem 1.5rem 1.5rem 1.5rem
  &.double-padded
    padding: 6rem 1.5rem 6rem 1.5rem
  &.dark
    background: $bg-dark
    color: $bg-light
    border-top: 2px solid $text
    border-bottom: 2px solid $text

.tile.is-parent
  padding: 0
// ---- index page ----
#blurb
  h2
    margin-bottom: 2rem
    text-align: justify
    +tablet
      word-spacing: 0.25rem
      text-align: center

#about
  .profile-pic
    display: inline-block
    float: right
    margin-left: 2rem
    margin-bottom: 2rem
    border-radius: 50%
    overflow: hidden
    width: 100%
    max-width: 180px
    height: auto
    +tablet
      display: block
      margin: 0 auto
      float: none

@import "./navbar.sass"
@import "./splash.sass"
@import "./projects.sass"
@import "./footer.sass"