.navbar
    align-items: stretch
    display: block
    position: fixed
    top: 0 
    left: 0
    right: 0
    background: $bg-light
    z-index: 30
    >.container
        position: relative
        display: flex
        height: 100%
        align-items: center
        justify-content: space-between
        margin: 0 1rem
        +desktop
            padding: 0
            margin: 0 auto
    .navbutton
        display: block
        width: 3rem
        height: 3rem
        position: relative
        margin-left: auto
        +tablet
            display: none
        > span
            left: .5rem
            display: block
            position: absolute
            background: $interact
            width: 2rem
            height: 3px
            border-radius: 2px
        &:hover
            > span
                background: $hover
    &-brand
        align-items: center
        display: flex
        flex-shrink: 0
        height: 100%
        z-index: 30
        > a
            display: flex
            cursor: pointer
            align-items: stretch
            height: 100%
        img
            height: 100%
            width: auto
    &-menu
        position: absolute
        right: .75rem
        top: 0
        margin-top: 0rem
        max-height: 0%
        display: block
        transition-duration: $speed
        transition-property: margin-top, max-height
        transition-timing-function: $easing
        +tablet
            position: relative
            max-height: unset
            display: flex
            align-items: center
            justify-content: flex-end
            flex-shrink: 0
        .menu-item
            display: block
            margin-left: -24px
            margin-top: 0rem
            opacity: 0
            +mobile
                transition-duration: $speed
                transition-property: margin-top, opacity
                transition-timing-function: $easing
            +tablet
                margin-left: 1.5rem
                opacity: 1
        &.is-open
            +mobile
                margin-top: 3rem
                max-height: 100vh
                .menu-item
                    opacity: 1
                    margin-top: 3rem
                    margin-left: 0
    &-overlay
        display: block
        position: fixed
        width: 100%
        height: 100%
        background: $bg-light
        opacity: 0.9
        right: 0
        top: 0
        +tablet
            display: none
