

$title-padding-height: 0.7rem
$title-height: 1.5 + $title-padding*2
$tile-image-height: 18rem
$total-tile-height: $title-height + $tile-image-height rem


.project
    position: relative
    padding: 0.5rem
    .image-container
        width: 100%
        height: $tile-image-height
        overflow: hidden
    .tile-content
        position: absolute
        top: 0
        left: 0
        padding: 1rem
        opacity: 0
    h3
        padding: $title-padding 0
    &:only-child
        .image-container
            height: ($total-tile-height*2 - $title-height + 2) rem
        
    